@font-face {
  font-family: "iconfont"; /* Project id 2659852 */
  src: url('//at.alicdn.com/t/font_2659852_jplifat3d5e.woff2?t=1626314551169') format('woff2'),
       url('//at.alicdn.com/t/font_2659852_jplifat3d5e.woff?t=1626314551169') format('woff'),
       url('//at.alicdn.com/t/font_2659852_jplifat3d5e.ttf?t=1626314551169') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e603";
}

.icon-bofang:before {
  content: "\e622";
}

.icon-fourth:before {
  content: "\e72b";
}

.icon-er:before {
  content: "\e72c";
}

.icon-one:before {
  content: "\e732";
}

.icon-next-btn:before {
  content: "\e67b";
}

.icon-KODICE:before {
  content: "\e743";
}

.icon-LADANUM:before {
  content: "\e742";
}

.icon-LADANUM-02:before {
  content: "\e739";
}

.icon-MYTENO:before {
  content: "\e737";
}

